@import "../fonts/opensans/font.css";
@import "mixin";

body{
  font-family: 'Open Sans Regular', sans-serif;
}
$blue:#423FFF;
$purple:#B80CE8;
$red:#FF0000;
$orange:#E8660C;
$yellow:#FFC10D;
$white:#FFFFFF;
$black-gray:#333333;
$light-gray:#f5f5f5;
#header{
  .top{
    padding: 15px 0px;
    .title{
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
  }
  .middle{
    background: $blue;
    .navbar{
      padding: 0px 15px;
      .navbar-toggler{
        outline: 0 !important;
        border: 1px solid $blue;
        padding: 7px 10px;
        color: $white;
        &[aria-expanded="true"]{
          background: $white;
          color: $blue;
        }
        i{
          margin-left: 15px;
        }
      }
      .navbar-brand{
        color: $orange;
      }
      .navbar-collapse{
        .navbar-nav{
          .nav-item{
            .nav-link{
              @include transition(300ms all);
              padding: 15px 10px;
              color: $white;
              margin-right: 5px;
              &:hover,&.active{
                background: $yellow;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .bottom{
    background: $light-gray;
    .navbar{
      .navbar-toggler{
        outline: 0;
        border: 1px solid $blue;
        margin: auto;
        padding: 7px 10px;
        &[aria-expanded="true"]{
          background: $blue;
          color: $white;
        }
        i{
          margin-left: 15px;
        }
      }
      .navbar-collapse{
        padding-top: 20px;
        .navbar-nav{
          .nav-item{
            .nav-link{
              @include transition(300ms all);
              margin: 0px 10px;
              padding: 10px 15px;
              color: $black-gray;
              &:hover,&.active{
                @include border-radius(20px 0px 20px 0px);
                background: rgba($black-gray,.2);
              }
              i{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.main-slider{
  min-height: 400px;
  width: 100%;
  background-image: url("../images/mountain-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  @include box-shadow(0px 11px 21px -12px #333);
}
.main-referans{
  padding-top: 30px;
  .sec-title{
    background: rgba($blue,.4);
    width: 100%;
    padding: 10px 15px;
    color: $white;
    border: 2px solid rgba($blue,.4);
    @include border-radius(4px);
  }
  .referans-slider{
    position: relative;
    .owl-carousel{
      .owl-stage-outer {
        padding: 0px 0px 30px 0px;
        .item {
          position: relative;
          @include border-radius(4px);
          @include box-shadow(0px 11px 21px -12px #333);
          overflow: hidden;
          img{
            @include transition(300ms all);
          }
          &:hover{
            img{
              @include transform(scale(1.1))
            }
          }
        }
      }
      .owl-dot{
        display: none;
      }
      .owl-nav {
        margin: 0;
        display: block;
        button {
          @include transition(300ms all);
          position: absolute;
          z-index: 1;
          width: 30px;
          height: 30px;
          margin: 0;
          outline: 0;
          border: 1px solid rgba($black-gray,.7);
          top: calc(51% - 30px);
          display: flex;
          span{
            margin: auto;
          }
          &.owl-prev {
            left: -35px;
          }
          &.owl-next {
            right: -35px;
          }
          &:hover {
            background: $black-gray;
            color: $light-gray;
          }
        }
      }
    }
  }
}
.main-phuket{
  margin-bottom: 30px;
  .phuket-wrap{
    @include box-shadow(0px 11px 21px -12px #333);
    width: 100%;
    padding: 40px 30px;
    position: relative;
    @include border-radius(4px);
    overflow: hidden;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba($blue,.8);
    }
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../images/referans-phuket/phuket-bg.jpg') ;
      background-size:cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed;
      background-position: top center;
      z-index: -2;

    }
    .sec-title{
      text-align: center;
      margin-bottom: 35px;
      color: $white;
    }
    [class*=" imghvr-"],[class^=imghvr-]{
      background-color: transparent;
      margin-bottom: 30px;
      &:before{
        background: rgba($red,.6);
      }
      figcaption{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 44px);
        i{
          font-size: 30px;
        }
      }
    }
    .btn{
      border: 1px solid $yellow;
      font-size: 14px;
      color: $yellow;
      &:hover{
        background: $yellow;
        color: $black-gray;
      }
    }
    .info-wrap{
      position: relative;
      z-index: 1;
      background: $yellow;
      .info{
        padding: 10px 15px;
        margin-bottom: 0;
        .price{
          display: block;
          float: right;
        }
      }
    }
  }
}
.main-images{
  [class*=" imghvr-"],[class^=imghvr-]{
    @include box-shadow(0px 11px 21px -12px #333);

    width: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    figcaption{
      background: rgba($black-gray,.6) ;
      height: calc(100% - 44px);
      display: flex;
      align-items: center;
      .caption{
        text-align: center;
        h3{

        }
        p{
          font-size: 14px;
        }
        .btn{
          font-size: 12px;
          background-color: $yellow;
          color: $black-gray;
          padding: 4px 7px;
        }
      }
      i{
        font-size: 30px;
      }
    }
    .info-wrap{
      position: absolute;
      z-index: 1;
      background: rgba($black-gray,.6) ;
      bottom: 0;
      width: 100%;
      .info{
        padding: 10px 15px;
        margin-bottom: 0;
        .price{
          display: block;
          float: right;
        }
      }
    }
    .img-style{
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }
    .img-genis{
      width: 100%;
      height: 420px;
    }
    .img-kucuk{
      width: 100%;
      height: 200px;
    }
  }

}
.main-servis{
  margin-bottom: 30px;
  a{
    color: $white;
    text-decoration: none;
  }
  .servis-wrap{
    @include box-shadow(0px 11px 21px -12px #333);
    width: 100%;
    padding: 40px 30px;
    position: relative;
    @include border-radius(4px);
    overflow: hidden;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba($purple,.8);
    }
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../images/referans-phuket/phuket-bg.jpg') ;
      background-size:cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed;
      background-position: top center;
      z-index: -2;

    }
    .sec-title{
      text-align: center;
      margin-bottom: 35px;
      color: $white;
    }
    i{
      display: inline-block;
      width: 100px;
      height: 100px;
      background: $blue;
      color: $white;
      line-height: 100px;
      margin-bottom: 20px;
      font-size: 30px;
      border: 3px solid $white;
      @include border-radius(100px)
    }
    .owl-carousel{
      .owl-stage-outer {
        .item {
          text-align: center;
          position: relative;
          @include border-radius(4px);
          overflow: hidden;
          height: 100%;
          padding-top: 15px;
          color: $white;
          h3{
          }
          p{
            font-size: 14px;
          }
          &:hover{
            background: rgba($yellow,.3);
          }
        }
      }
      .owl-dots{
        .owl-dot{
          width: 40px;
          height: 5px;
          background: transparent;
          border: 1px solid $yellow;
          margin-right: 10px;
          outline: 0;
          &.active{
            background: $yellow;
            border-color: $white;
          }
          span{
            display: none;
          }
        }
      }
      .owl-nav {
        display: none;
      }
    }
  }
}

#footer{
  color: $white;
  background: $blue;
  .footer-wrap{
    padding: 20px 30px;
    .sec-title{
      margin-bottom: 15px;
      border-bottom: 1px solid rgba($yellow,.3);
      padding-bottom:  15px;
    }
    .son-yazilar{
      ::-webkit-scrollbar-track
      {
        border-radius: 10px;
        background-color: $blue;
        border: 1px solid $yellow;

      }

      ::-webkit-scrollbar
      {
        width: 10px;
        background-color: $blue;
      }

      ::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        background-color: #555;
        margin: 1px;

      }
      .son-items{
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll;
        .son-item{
          border-bottom: 1px solid rgba($white,1);
          padding-bottom: 15px;
          padding-top: 15px;
          @include box-shadow(0px 11px 21px -12px #333);

          &:hover{
            background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          }
          a{
            text-decoration: none;
            color: $white;
          }
          img{
            width: 70px;
            @include box-shadow(0px 11px 21px -12px #333);

          }
          .media-body{
            font-size: 13px;
            h5{
              color: $yellow;
            }
          }
        }
      }
    }
  }

}

@media (max-width:574px) {
  .referans-slider{
    .owl-nav{
      button{
        background: $white !important;
        &:hover{
          color: $red !important;
        }
        &.owl-prev {
          left: 5px !important;
        }
        &.owl-next {
          right: 5px !important;
        }
      }
    }
  }
  .main-images{
    overflow: hidden;
  }
}

@media (max-width:991px) and (min-width:575px) {
.referans-slider{
    .owl-nav{
      button{
        background: $white !important;
        &:hover{
          color: $red !important;
        }
        &.owl-prev {
          left: 5px !important;
        }
        &.owl-next {
          right: 5px !important;
        }
      }
    }
  }
}
